body {
    background-color: rgb(228, 228, 254);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

#navbar {
    background-color: black;
    align-self: center;
    width: 1000px;
    height: 70px;
    margin: 10px 100px auto 100px;
}

#logoimage {
    height: 30px;
    width: 30px;
    margin: 20px 3px -3px 20px;
}

#logoname {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    font-family: sans-serif;
    align-items: center;
}

#logo {
    display: inline;
}

#ghc {
    margin: -30px 50px 40px 400px;
}

.homeclick {
    display: inline;
    margin: 20px;
    color: white;
}

button {
    background-color: white;
    border: 2px solid rgba(12, 11, 11, 0.5);
    border-style:solid;
    font-weight: bold;
    font-size: 15px;
    font-family: Tahoma;
    padding: 2px 10px 2px 10px;
}

button:hover {
    background-color: rgb(233, 7, 7, 0.5);
    border: 2px solid rgba(250, 250, 250, 0.5);
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    color: aliceblue;
    cursor: pointer;
}

button:active {
    background-color: aliceblue;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    color: black;
}

#welcome {
    width: 500px;
    text-align: left;
    margin: 120px auto auto 50px;
    -webkit-text-stroke: 0.5px rgb(232, 223, 223, 0.8);
    font-weight: bold;
}

p {
    font-size: 18px;
}

#explore {
    background-color: aliceblue;
    padding: 5px 30px 5px 30px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin-top: 10px;
}

#explore:hover {
    background-color: rgb(2, 7, 10);
    padding: 5px 30px 5px 30px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#heroimage {
    float: right;
    margin-top: -250px;
}